<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @comment.user %>
</p>

<p>
  <b>Node:</b>
  <%= @comment.node %>
</p>

<p>
  <b>Comment text.string:</b>
  <%= @comment.comment_text.string %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
