<p id="notice"><%= notice %></p>

<p>
  <b>Scenario:</b>
  <%= @speaker.scenario %>
</p>

<p>
  <b>Name:</b>
  <%= @speaker.name %>
</p>

<p>
  <b>Type:</b>
  <%= @speaker.type %>
</p>


<%= link_to 'Edit', edit_speaker_path(@speaker) %> |
<%= link_to 'Back', speakers_path %>
